<!doctype html>

{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

    <title>Hello, world!</title>
  </head>
  <body>
    {% block content %}
    {% include 'login.html' %}
    {% endblock content %}
  
<div class="row">
  <div class="col-md-2">

  <div class="list-group mt-3">
  <a href="{% url 'home' %}" class="list-group-item list-group-item-action active">
    All Images
  {% for c in Category %}
  <a href="{% url 'category' c.pk %}" class="list-group-item list-group-item-action">{{c.title}}</a>
  {% endfor %}
</div> 
  </div>
  <div class="col-md-10"> 
    <div class="row">
      <div class="col-md-12">
        <div class="card-columns mt-3">
        {% for i in Images %}

        <div class="card">
  <img class="card-img-top" src="{{ i.image.url }}" alt="Card image cap">
  <div class="card-body">
    <b> <h5 class="card-title">{{i.title}}</h5> </b>
    <p class="card-text">{{i.description}}</p>
    <a href="{% url 'download' i.pk %}" class="btn btn-primary">View</a>
  </div>
</div>
{% endfor %}
        </div>
        
      </div>
        }
      
    </div>
  </div>
</div>




















    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>